
{{ define "title" }} Section Title {{ end }}

{{ define "main" }}
  <main>

  <h1>{{ .Title }}</h1>

  {{ .Content }}

  {{ range where (where $.Site.Data.research_projects "archived" "!=" "x") "publish" "==" "x" }}
  <div class="media">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" src="{{ .image }}" alt="">
      </a>
    </div>
    <div class="media-body">
      <h4>{{ .title }} <span class="badge">{{.key}}</span></h2>
      <p>{{ .description }}</p>
      <p><em>{{ .funding }}</em></p>
    </div>
  </div>
  {{ end }}

  <h3> Archived </h3>
  {{ range where (where $.Site.Data.research_projects "archived" "==" "x") "publish" "==" "x" }}
  <div class="media">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" src="{{ .image }}" alt="">
      </a>
    </div>
    <div class="media-body">
      <h4>{{ .title }} <span class="badge">{{.key}}</span></h2>
      <p>{{ .description }}</p>
      <p><em>{{ .funding }}</em></p>
    </div>
  </div>
  {{ end }}
  </main>
{{ end }}
