<div class="col-md-4 col-sm-12 space-bot-md">
  <a class="footer-logo-link" href="{{site.base_path}}/"><img class="img-responsive" src="{{site.base_path}}/assets/logo_3_2_100_plain.svg" alt="IDEAlab logo" /></a><br>
  {%comment%}
  <h2>{{site.organization_name}}</h2>
  {%endcomment%}
  <address>
    {%for item in site.address%}
      {{item}}<br>
    {%endfor%}
    Phone: <a class="phone-link" href="tel:{{site.phone}}" id="phone-link-in-footer">{{site.phone}}</a>
  </address>
  <p>
    <a class="contact-link" href="mailto:{{site.email}}" id="contact-us-link-in-footer">Email Us</a>
  </p>
  <ul class="social-media">
    <li>
      <a href="https://github.com/idealabasu" title="GitHub"><i class="fa fa-github-square"></i><span class="sr-only">Youtube</span></a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCYXfA6Jo5guiUSY6LWIhkjQ" title="Youtube" id="youtube-link-in-footer"><i class="fa fa-youtube-square"></i><span class="sr-only">Youtube</span></a>
    </li>
    <li>
      <a href="https://twitter.com/idealabasu" title="Twitter" id="twitter-link-in-footer"><i class="fa fa-twitter-square"></i><span class="sr-only">Twitter</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/idealabasu/?ref=hl" title="Facebook" id="facebook-link-in-footer"><i class="fa fa-facebook-square"></i><span class="sr-only">Facebook</span></a>
    </li>
    <li></li>
  </ul>
  {%comment%}
  <a class="btn btn-primary" href="https://giving.asu.edu/" id="contribute-button-in-footer">Contribute</a>
  {%endcomment%}
</div>

<div class="col-md-4 col-sm-12 space-bot-md">
</div>

<div class="col-md-4 col-sm-12 space-bot-md">
<a class="footer-logo-link" href="http://robotics.asu.edu"><img class="img-responsive" src="{{site.base_path}}/assets/asu robotics logo_plain.svg" ></a>
</div>

{%comment%}
<div class="col-md-2 col-sm-3 space-bot-md">
  <h2>Solve<span class="caret hidden-sm hidden-md hidden-lg"></span>
  </h2>
  <ul class='big-foot-nav collapse'>
    <li class="menu-item menu-item-type-post_type menu-item-object-page">
      <a href="https://sustainability.asu.edu/solutions/" id="nav-item_437_under_835">Solutions</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page">
      <a title="Operations" href="https://sustainability.asu.edu/operations/">Operations</a>
    </li>
  </ul>
</div>
{%endcomment%}
