{% for project in site.data.research-projects %}
{% if key==project.key %}
{% unless project.archived %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ project.title }}</h3>
  </div>
  <div class="panel-body">

{% if project.image %}
<div class="media">
  <div class="media-left media-middle">
    <img class="media-object" src="{{site.base_path}}{{ project.image }}" alt="...">
      {% comment %}
      <a href="#">
      <img class="img-responsive" src="{{site.base_path}}{{ project.image }}">
      </a>
      {% endcomment %}
  </div>
  <div class="media-body">
    <p>Students: <em>{{project.students}}</em></p>
    <p>{{project.description}}</p>
    <p><em>{{project.funding}}</em></p>
  </div>
</div>
{% else %}
    <p>Students: <em>{{project.students}}</em></p>
    <p>{{project.description}}</p>
    <p><em>{{project.funding}}</em></p>
{% endif %}

  </div>
</div>
{% endunless %}
{% endif %}
{% endfor %}

{% for project in site.data.research-projects %}
{% if key==project.key %}
{% if project.archived %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ project.title }} (Archived)</h3>
  </div>
  <div class="panel-body">

{% if project.image %}
<div class="media">
  <div class="media-left media-middle">
    <img class="media-object" src="{{site.base_path}}{{ project.image }}" alt="...">
      {% comment %}
      <a href="#">
      <img class="img-responsive" src="{{site.base_path}}{{ project.image }}">
      </a>
      {% endcomment %}
  </div>
  <div class="media-body">
    <p>Students: <em>{{project.students}}</em></p>
    <p>{{project.description}}</p>
    <p><em>{{project.funding}}</em></p>
  </div>
</div>
{% else %}
    <p>Students: <em>{{project.students}}</em></p>
    <p>{{project.description}}</p>
    <p><em>{{project.funding}}</em></p>
{% endif %}

  </div>
</div>
{% endif %}
{% endif %}
{% endfor %}