{% for project in site.data.research-projects %}
{% if project.publish %}
{% if key==project.key %}
{% unless project.archived %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{{ project.title }}</h3>
</div>
<div class="panel-body">

{% if project.image %}
<div class="row">
<div class="col-sm-4">
<img class="img-responsive img-thumbnail" src="{{site.base_path}}{{ project.image }}">
</div>
<div class="col-sm-8">
<p>Students: <em>{{project.students}}</em></p>
<p>{{project.description}}</p>
<p><em>{{project.funding}}</em></p>
</div>
</div>
{% else %}
<p>Students: <em>{{project.students}}</em></p>
<p>{{project.description}}</p>
<p><em>{{project.funding}}</em></p>
{% endif %}

</div>
</div>
{% endunless %}
{% endif %}
{% endif %}
{% endfor %}

{% for project in site.data.research-projects %}
{% if project.publish %}
{% if key==project.key %}
{% if project.archived %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{{ project.title }} (Archived)</h3>
</div>
<div class="panel-body">

{% if project.image %}
<div class="row">
<div class="col-sm-4">    
<img class="img-responsive img-thumbnail" src="{{site.base_path}}{{ project.image }}">
</div>
<div class="col-sm-8">
<p>Students: <em>{{project.students}}</em></p>
<p>{{project.description}}</p>
<p><em>{{project.funding}}</em></p>
</div>
</div>
{% else %}
<p>Students: <em>{{project.students}}</em></p>
<p>{{project.description}}</p>
<p><em>{{project.funding}}</em></p>
{% endif %}

</div>
</div>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}