{{ if .Params.show_title }} 
<div class="hero hero-bg-img hero-action-call" {% if page.image.feature %} style="background-image: url({{site.base_path}}{{ page.image.feature }});"{% endif %}>
  {% if page.image.credit %}<div class="image-credit">Image source: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></div><!-- /.image-credit -->{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>
          {% if page.tags.size > 0 %}
            {{ page.tags[0] }}:
          {% endif %}
		  {% if page.title_image %}
			<img class="img-responsive" style="border:0px solid #dbdbdb;" src="{{site.base_path}}{{ page.title_image }}">
		  {% else %}
            {{ page.title }}
		  {% endif%}
		  

        </h2>
        <p>{{ .Params.description }}</p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
{{ end }}
