<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js" xmlns="http://www.w3.org/1999/xhtml">
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">

  <link href='assets/fontawesome/css/fontawesome.css' rel='stylesheet' type='text/css' />

   {{ $sass := resources.Get "bootstrap4-theme/scss/bootstrap-asu.scss" }}
   {{ $style := $sass | resources.ToCSS | resources.Fingerprint }}   
   <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">   

   {{ partial "head" . }}
   {{ partial "head_custom" . }}
    
  </head>
  <body data-spy="scroll" data-target=".sidebar-nav">

    {{ partial "asu_header4.html" . }}
<!--
-->

<div class="container pad-md">


    {{ block "main" . }}
    {{ end }}
</div>



   {{ partial "footer4.html" . }}
   {{ partial "foot.html" . }}
   {{ partial "foot_custom.html" . }}

  </body>
</html>
