<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js" xmlns="http://www.w3.org/1999/xhtml">
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">

   {{ partial "head" . }}
   {{ partial "head_custom" . }}
    
  </head>
  <body>
    

    {{ partial "header-unity.html" . }}
    {{ partial "footer-unity.html" . }}
   <script>window['LOGLEVEL'] = "info";
             
         
             
               window['FRAMEWORK_OPTIONS'] = {};
             
         
             
               window['FEATURES'] = {"postcss":true};</script><script src="runtime~main.34cee7cf.iframe.bundle.js"></script><script src="vendors~main.07f1a082.iframe.bundle.js"></script><script src="main.d5825012.iframe.bundle.js"></script>

  </body>
</html>
