{{ define "title" }} {{ .Title }} | {{ .Site.Title }} {{ end }}

{{ define "main" }}
  <main>

  <h1>{{ .Title }}</h1>

  {{ .Content }}

  {{ range .Pages }}
  <h2><a href="{{.RelPermalink}}">{{ .Title }}</a></h2>
  <p>{{ .Summary }}</p>
  {{ end }}

  <h2>Current Students</h2>
  <div class="row equal">
    {{ range sort $.Site.Data.students  "lastname"}}
    {{ if ne .former "x" }}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        {{ if .img_link }}<img src="{{ .img_link }}">{{end}}
        <div class="caption">
          <h3>{{ .firstname }} {{ .lastname }}</h3>
          <p><a href="mailto:{{.email}}">{{.email}}</a></p>
          <p>{{ .description }}</p>
          {{if eq .FURI "x"}}<span class="badge">FURI</span>{{end}}
          {{if eq .Barrett "x"}}<span class="badge">Barrett</span>{{end}}
          {{if eq .KEEN "x"}}<span class="badge">KEEN</span>{{end}}
          {{if eq .Undergraduate "x"}}<span class="badge">Undergraduate</span>{{end}}
          {{if eq .Masters "x"}}<span class="badge">Masters</span>{{end}}
          {{if eq .MastersThesis "x"}}<span class="badge">MastersThesis</span>{{end}}
          {{if eq .MORE "x"}}<span class="badge">MORE</span>{{end}}
          {{if eq .PhD "x"}}<span class="badge">PhD</span>{{end}}
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>


  <h2>Lab Alumni</h2>

  <div class="row equal">
    {{ range sort $.Site.Data.students  "lastname" }}
    {{ if eq .former "x" }}
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        {{ if .img_link }}<img src="{{ .img_link }}">{{end}}
        <div class="caption">
          <h3>{{ .firstname }} {{ .lastname }}</h3>
          {{if eq .FURI "x"}}<span class="badge">FURI</span>{{end}}
          {{if eq .Barrett "x"}}<span class="badge">Barrett</span>{{end}}
          {{if eq .KEEN "x"}}<span class="badge">KEEN</span>{{end}}
          {{if eq .Undergraduate "x"}}<span class="badge">Undergraduate</span>{{end}}
          {{if eq .Masters "x"}}<span class="badge">Masters</span>{{end}}
          {{if eq .MastersThesis "x"}}<span class="badge">MastersThesis</span>{{end}}
          {{if eq .MORE "x"}}<span class="badge">MORE</span>{{end}}
          {{if eq .PhD "x"}}<span class="badge">PhD</span>{{end}}
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>

  </main>
{{ end }}
