{{ define "title" }} Section Title {{ end }}

{{ define "main" }}
  <main>  

  <h1>{{ .Title }}</h1>

  {{ .Content }}

  {{ range .Pages }}
  <h2><a href="{{.RelPermalink}}">{{ .Title }}</a></h2>
  <p>{{ .Summary }}</p>
  {{ end }}
  
  <h2>Current Students</h2>
  {{ range $.Site.Data.students }}
  {{ if ne .former "x" }}
  <h3>{{ .firstname }} {{ .lastname }} </h2>
  {{ if .img_link }}<p class="text-center"><img src="{{ .img_link }}"></p>{{end}}
  {{ if .description }}<p>{{ .description }}</p>{{end}}
  {{ end }}  
  {{ end }}  

  <h2>Lab Alumni</h2>
  {{ range $.Site.Data.students }}
  {{ if eq .former "x" }}
  <h3>{{ .firstname }} {{ .lastname }} </h2>
  {{ if .img_link }}<p class="text-center"><img src="{{ .img_link }}"></p>{{end}}
  {{ if .description }}<p>{{ .description }}</p>{{end}}
  {{ end }}  
  {{ end }}  

  </main>
{{ end }}