<div>
  <div>
    {' '}
    <div class="row no-gutters">
      <div class="col uds-full-width">
        <React.Fragment key=".0">
          <header
            class="fixed-top"
            id="asu-header"
          >
            <div id="wrapper-header-top">
              <div class="container-xl">
                <div class="row">
                  <div
                    class="col-12"
                    id="header-top"
                  >
                    <nav
                      aria-label="Top"
                      class="nav"
                    >
                      <a
                        class="nav-link sr-only sr-only-focusable"
                        href="#skip-to-content"
                      >
                        Skip to main content
                      </a>
                      <a
                        class="nav-link sr-only sr-only-focusable"
                        href="http://asu.edu/accessibility/feedback?a11yref=unity-design-system"
                      >
                        Report an accessibility problem
                      </a>
                      <a
                        class="nav-link"
                        data-ga-header="asu home"
                        data-ga-header-section="topbar"
                        href="https://asu.edu"
                      >
                        ASU Home
                      </a>
                      <a
                        class="nav-link"
                        data-ga-header="my asu"
                        data-ga-header-section="topbar"
                        href="https://my.asu.edu"
                      >
                        My ASU
                      </a>
                      <a
                        class="nav-link"
                        data-ga-header="colleges and schools"
                        data-ga-header-section="topbar"
                        href="https://www.asu.edu/academics/colleges-schools"
                      >
                        Colleges and Schools
                      </a>
                      <div class="nav-link login-status">
                        <a
                          class="name"
                          href="#"
                        >
                          Sparky
                        </a>
                        <a
                          class="signout"
                          data-ga-header="sign out"
                          data-ga-header-section="topbar"
                          href="#"
                        >
                          Sign Out
                        </a>
                      </div>
                      <form
                        action="https://search.asu.edu/search"
                        class="form-inline"
                        method="get"
                        name="gs"
                      >
                        <input
                          aria-labelledby="header-top-search"
                          class="form-control"
                          data-ga-input-header-event="search"
                          name="q"
                          required
                          type="search"
                        />
                        <label id="header-top-search">
                          Search asu.edu
                        </label>
                        <input
                          name="site"
                          type="hidden"
                          value="default_collection"
                        />
                        <input
                          name="sort"
                          type="hidden"
                          value="date:D:L:d1"
                        />
                        <input
                          name="output"
                          type="hidden"
                          value="xml_no_dtd"
                        />
                        <input
                          name="ie"
                          type="hidden"
                          value="UTF-8"
                        />
                        <input
                          name="oe"
                          type="hidden"
                          value="UTF-8"
                        />
                        <input
                          name="client"
                          type="hidden"
                          value="asu_frontend"
                        />
                        <input
                          name="proxystylesheet"
                          type="hidden"
                          value="asu_frontend"
                        />
                      </form>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <div id="wrapper-header-main">
              <div class="container-xl">
                <div class="row">
                  <div
                    class="col-12"
                    id="header-main"
                  >
                    <div class="navbar navbar-expand-xl">
                      <a
                        class="navbar-brand"
                        data-ga-header="asu logo"
                        href="#"
                      >
                        <img
                          alt="Arizona State University"
                          class="vert"
                          src="static/media/arizona-state-university-logo-vertical.c2bec8dd.png"
                        />
                        <img
                          alt="Arizona State University"
                          class="horiz"
                          src="static/media/arizona-state-university-logo.a161f814.png"
                        />
                      </a>
                      <button
                        aria-controls="menubar"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        class="navbar-toggler collapsed"
                        data-ga-header="menu button label"
                        data-ga-header-event="collapse"
                        data-ga-header-type="click"
                        data-target="#menubar"
                        data-toggle="collapse"
                        type="button"
                      >
<!--                      
                        <span
                          alt=""
                          class="fa fa-bars"
                          title="Open mobile menu"
                        />
                        <span
                          class="fa-stack"
                          title="Close mobile menu"
                        >
                          <i
                            alt=""
                            class="fa fa-circle fa-stack-2x"
                          />
                          <i
                            alt=""
                            class="fa fa-times fa-stack-1x"
                          />
                        </span>
-->
                      </button>
                      <div class="navbar-container">
                        <div
                          class="title subdomain-name"
                          data-ga-header="Subdomain name"
                        >
                          Subdomain name
                        </div>
                        <div
                          class="collapse navbar-collapse w-100 justify-content-between"
                          id="menubar"
                        >
                          <div class="header-content-container">
                            <nav
                              aria-label="main"
                              class="navbar-nav"
                            >
                              <a
                                class="nav-link nav-link-home active"
                                data-ga-header="home button"
                                href="/"
                                title="Subdomain name home page"
                              >
                                <span
                                  class="d-xl-none"
                                  title="Subdomain name home page"
                                >
                                  Home
                                </span>
                                <span
                                  alt=""
                                  class="fas fa-fw fa-home"
                                  title="Subdomain name home page"
                                />
                              </a>
                              <a
                                class="nav-link"
                                data-ga-header="Link option 1"
                                href="#"
                              >
                                Link option 1
                              </a>
                              <a
                                class="nav-link"
                                data-ga-header="Link option 2"
                                href="#"
                              >
                                Link option 2
                              </a>
                              <div class="nav-item dropdown header-dropdown-1">
                                <a
                                  aria-expanded="false"
                                  aria-haspopup="true"
                                  class="nav-link"
                                  data-ga-header="Link option 3"
                                  data-ga-header-event="collapse"
                                  data-ga-header-type="click"
                                  data-toggle="dropdown"
                                  href="#"
                                  id="dropdown-one-col"
                                  role="button"
                                >
                                  Link option 3
                                  <span
                                    alt=""
                                    class="fa fa-chevron-down"
                                  />
                                </a>
                                <div
                                  aria-labelledby="dropdown-one-col"
                                  class="dropdown-menu dropdown-columns"
                                >
                                  <div class="dropdown-col">
                                    <a
                                      class="dropdown-item"
                                      data-ga-header="Sublink 1"
                                      data-ga-header-component="link option 3"
                                      href="#"
                                    >
                                      Sublink 1
                                    </a>
                                    <a
                                      class="dropdown-item"
                                      data-ga-header="Sublink 2"
                                      data-ga-header-component="link option 3"
                                      href="#"
                                    >
                                      Sublink 2
                                    </a>
                                    <a
                                      class="dropdown-item"
                                      data-ga-header="Sublink 3"
                                      data-ga-header-component="link option 3"
                                      href="#"
                                    >
                                      Sublink 3
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </nav>
<!--                            <form class="navbar-site-buttons form-inline">
                              <a
                                class="btn btn-md btn-maroon"
                                data-ga-header="call to action"
                                href="#"
                              >
                                Call to action
                              </a>
                            </form>
-->                          </div>
                          <div class="navbar-mobile-footer pinned">
                            <form
                              action="https://search.asu.edu/search"
                              class="form-inline navbar-mobile-search"
                              method="get"
                              name="gs"
                            >
                              <input
                                aria-label="Search"
                                class="form-control"
                                name="q"
                                placeholder="Search asu.edu"
                                type="search"
                              />
                              <input
                                name="site"
                                type="hidden"
                                value="default_collection"
                              />
                              <input
                                name="sort"
                                type="hidden"
                                value="date:D:L:d1"
                              />
                              <input
                                name="output"
                                type="hidden"
                                value="xml_no_dtd"
                              />
                              <input
                                name="ie"
                                type="hidden"
                                value="UTF-8"
                              />
                              <input
                                name="oe"
                                type="hidden"
                                value="UTF-8"
                              />
                              <input
                                name="client"
                                type="hidden"
                                value="asu_frontend"
                              />
                              <input
                                name="proxystylesheet"
                                type="hidden"
                                value="asu_frontend"
                              />
                            </form>
                            <div class="nav-grid">
                              <a
                                class="nav-link"
                                data-ga-header="asu home"
                                data-ga-header-section="topbar"
                                href="https://asu.edu"
                              >
                                ASU Home
                              </a>
                              <a
                                class="nav-link"
                                data-ga-header="my asu"
                                data-ga-header-section="topbar"
                                href="https://my.asu.edu"
                              >
                                My ASU
                              </a>
                              <a
                                class="nav-link"
                                data-ga-header="colleges and schools"
                                data-ga-header-section="topbar"
                                href="https://www.asu.edu/academics/colleges-schools"
                              >
                                Colleges and Schools
                              </a>
                              <div class="nav-link login-status">
                                Sparky
                                <a
                                  class="signout"
                                  data-ga-header="sign out"
                                  data-ga-header-section="topbar"
                                  href="https://webapp4.asu.edu/myasu/Signout"
                                >
                                  Sign Out
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div
            class="wrapper"
            id="page-wrapper"
          >
            <div
              class="sr-only"
              id="skip-to-content"
            />
          </div>
        </React.Fragment>
      </div>
    </div>
  </div>
</div>
