<div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <footer
          id="asu-footer"
          role="contentinfo"
        >
          <div
            class="wrapper"
            id="wrapper-endorsed-footer"
          >
            <div
              class="container"
              id="endorsed-footer"
            >
              <div class="row">
                <div
                  class="col-md"
                  id="endorsed-logo"
                >
                  <a
                    data-ga-footer="asu logo"
                    data-ga-footer-section="primary footer"
                    data-ga-footer-type="internal link"
                    href="https://www.asu.edu"
                  >
                    <img
                      alt="ASU University Technology Office Arizona State University."
                      src="static/media/ASU_UniversityTechOffice_2_Horiz_RGB_White_150ppi.png"
                    />
                  </a>
                </div>
                <div
                  class="col-md"
                  id="social-media"
                >
                  <nav
                    aria-label="Social Media"
                    class="nav"
                  >
                    <a
                      class="nav-link"
                      data-ga-footer="facebook icon"
                      data-ga-footer-section="primary footer"
                      data-ga-footer-type="external link"
                      href="#"
                    >
                      <span
                        class="fab fa-facebook-square"
                        title="Facebook Social Media Icon"
                      />
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="twitter icon"
                      data-ga-footer-section="primary footer"
                      data-ga-footer-type="external link"
                      href="#"
                    >
                      <span
                        class="fab fa-twitter-square"
                        title="Twitter Social Media Icon"
                      />
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="instagram icon"
                      data-ga-footer-section="primary footer"
                      data-ga-footer-type="external link"
                      href="#"
                    >
                      <span
                        class="fab fa-instagram-square"
                        title="Instagram Social Media Icon"
                      />
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="youtube icon"
                      data-ga-footer-section="primary footer"
                      data-ga-footer-type="external link"
                      href="#"
                    >
                      <span
                        class="fab fa-youtube-square"
                        title="YouTube Social Media Icon"
                      />
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="linkedin icon"
                      data-ga-footer-section="primary footer"
                      data-ga-footer-type="external link"
                      href="#"
                    >
                      <span
                        class="fab fa-linkedin"
                        title="LinkedIn Social Media Icon"
                      />
                    </a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div
            class="wrapper"
            id="wrapper-footer-columns"
          >
            <nav aria-label="Footer">
              <div
                class="container"
                id="footer-columns"
              >
                <div class="row">
                  <div
                    class="col-xl"
                    id="info-column"
                  >
                    <h5>
                      Complete Name of College, School or Unit Title Should Go Here
                    </h5>
                    <p class="contact-link">
                      <a href="#">
                        Contact Us
                      </a>
                    </p>
                    <p class="contribute-button">
                      <a
                        class="btn btn-small btn-gold"
                        href="#"
                      >
                        Contribute
                      </a>
                    </p>
                  </div>
                  <div class="col-xl flex-footer">
                    <div class="card card-foldable desktop-disable-xl">
                      <div class="card-header">
                        <h5>
                          <a
                            aria-controls="footlink-two"
                            aria-expanded="false"
                            class="collapsed"
                            data-toggle="collapse"
                            href="#footlink-two"
                            id="footlink-header-two"
                            role="button"
                          >
                            Second Column
                            <span class="fas fa-chevron-up" />
                          </a>
                        </h5>
                      </div>
                      <div
                        aria-labelledby="footlink-header-two"
                        class="collapse card-body"
                        id="footlink-two"
                      >
                        <a
                          class="nav-link"
                          href="#"
                          title="link"
                        >
                          Biological and Health Systems Computing
                        </a>
                        <a
                          class="nav-link"
                          href="#"
                          title="link"
                        >
                          Informatics and Decision Systems Electrical
                        </a>
                        <a
                          class="nav-link"
                          href="#"
                          title="link"
                        >
                          Computer and Energy Matter
                        </a>
                        <a
                          class="nav-link"
                          href="#"
                          title="link"
                        >
                          Transport and Energy Sustainability and the Built Environment
                        </a>
                        <a
                          class="nav-link"
                          href="#"
                          title="link"
                        >
                          The Polytechnic School
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl flex-footer">
                    <div class="card card-foldable desktop-disable-xl">
                      <div class="card-header">
                        <h5>
                          <a
                            aria-controls="footlink-three"
                            aria-expanded="false"
                            class="collapsed"
                            data-toggle="collapse"
                            href="#footlink-three"
                            id="footlink-header-three"
                            role="button"
                          >
                            Student Information
                            <span class="fas fa-chevron-up" />
                          </a>
                        </h5>
                      </div>
                      <div
                        aria-labelledby="footlink-header-three"
                        class="collapse card-body"
                        id="footlink-three"
                      >
                        <a
                          class="nav-link"
                          href="#"
                          title="link"
                        >
                          Student Organization
                        </a>
                        <a
                          class="nav-link"
                          href="#"
                          title="link"
                        >
                          Inner Circle Newsletter
                        </a>
                        <a
                          class="nav-link"
                          href="#"
                          title="link"
                        >
                          For Your Parents
                        </a>
                        <a
                          class="nav-link"
                          href="#"
                          title="link"
                        >
                          Visit Campus
                        </a>
                        <a
                          class="nav-link"
                          href="#"
                          title="link"
                        >
                          K-12 Outreach
                        </a>
                        <a
                          class="nav-link"
                          href="#"
                          title="link"
                        >
                          Hire Our Graduates
                        </a>
                        <a
                          class="nav-link"
                          href="#"
                          title="link"
                        >
                          Hire an Intern
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div
            class="wrapper"
            id="wrapper-footer-innovation"
          >
            <div
              class="container"
              id="footer-innovation"
            >
              <div class="row">
                <div class="col">
                  <div class="d-flex footer-innovation-links">
                    <a
                      class="img-link"
                      data-ga-footer="#1 in the u.s. for innovation"
                      data-ga-footer-section="secondary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/rankings"
                    >
                      <img
                        alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020"
                        src="static/media/200420-GlobalFooter-No1InnovationLockup.png"
                      />
                    </a>
                    <nav
                      aria-label="University Services"
                      class="nav"
                    >
                      <a
                        class="nav-link"
                        data-ga-footer="maps and locations"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://www.asu.edu/about/locations-maps"
                      >
                        Maps and Locations
                      </a>
                      <a
                        class="nav-link"
                        data-ga-footer="jobs"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://www.asu.edu/asujobs"
                      >
                        Jobs
                      </a>
                      <a
                        class="nav-link"
                        data-ga-footer="directory"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://isearch.asu.edu/"
                      >
                        Directory
                      </a>
                      <a
                        class="nav-link"
                        data-ga-footer="contact asu"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://www.asu.edu/about/contact"
                      >
                        Contact ASU
                      </a>
                      <a
                        class="nav-link"
                        data-ga-footer="my asu"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://my.asu.edu/"
                      >
                        My ASU
                      </a>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="wrapper"
            id="wrapper-footer-colophon"
          >
            <div
              class="container"
              id="footer-colophon"
            >
              <div class="row">
                <div class="col">
                  <nav
                    aria-label="University Legal and Compliance"
                    class="nav colophon"
                  >
                    <a
                      class="nav-link"
                      data-ga-footer="copyright and trademark"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/about/copyright-trademark"
                    >
                      Copyright and Trademark
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="accessibility"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/accessibility/"
                    >
                      Accessibility
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="privacy"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/about/privacy"
                    >
                      Privacy
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="terms of use"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/about/terms-of-use"
                    >
                      Terms of Use
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="emergency"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/emergency/"
                    >
                      Emergency
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="covid-19 information"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://eoss.asu.edu/health/announcements/coronavirus"
                    >
                      COVID-19 Information
                    </a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
