<ul id="menu-header-menu" class="nav navbar-nav">
  <li>
    <a href="{{ .Site.Params.home_path }}/" title="Home">
      <span class="fa fa-home hidden-xs hidden-sm" aria-hidden="true"></span><span class="hidden-md hidden-lg">Home</span>
    </a>
  </li>
  {{ range .Site.Menus.main }}
  <li class="menu-item{{ if .HasChildren }} dropdown{{end}}"><a href="{{ .URL | absURL }}"{{ if .HasChildren }} data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"{{end}}>{{ .Name }} </a>
    {{ if .HasChildren }}

<ul class="dropdown-menu">
{{ range .Children }}
    <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
{{ end }}  
</ul>
</li>
{{ end }}  
  {{ end }}
</ul>
