{{ define "title" }} Section Title {{ end }}

{{ define "main" }}
  <main>

  <h1>{{ .Title }}</h1>

  {{ .Content }}

  <ul class="contents">
  {{ range .Pages }}
  <li> <a href="{{ .Params.link }}"> {{ .Params.caption }}</a></li>
  {{ end }}
  </ul>

  <div class="row equal">
    {{ range $.Site.Data.videos }}
    <div class="col-sm-6">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="{{.link}}" allowfullscreen></iframe>
        </div>
        <div class="caption">
        {{.caption}}
        </div>
      </div>
    </div>
    {{ end }}
  </div>

  </main>
{{ end }}
